{% load static %}
{% load sass_tags %}

<!doctype html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'dashboard/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% sass_src 'dashboard/css/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% sass_src 'dashboard/css/style2.scss' %}" />
</head>

<body>
  <script src="{% sass_src 'dashboard/js/jquery.min.js' %}"></script>
  <script src="{% sass_src 'dashboard/js/main.js' %}"></script>

  {% block script %}{% endblock %}

  {% block content %}{% endblock %}

  {% block footer %}
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5"><p>
          {% if user.is_authenticated %}
          Hi {{ user.get_username }}! - <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
          - <a href="{% url 'password_change'%}?next={{request.path}}">Change Password</a>
          {% else %}
          <a href="{% url 'login'%}?next={{request.path}}">Login</a>
          {% endif %}
          - <a href="/">Home</a>
          {% if request.user.is_staff %} - <a href="/admin">Administration</a> - <a href="/api/history">Download history</a>{% endif %}
        </p></div>
      </div>
    </div>
  </section>
  {% endblock %}

</body>

</html>